.welcome{

}

.logos{

}

 body {
      font-family: Arial, sans-serif;
      background-color: #E5FFD7;
      margin: 0;
      padding: 40px 0;
    }

    .features-wrapper {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 40px;
    }

    nav.features-header {
      background-color: #E5FFD7;
      padding: 10px 60px;
      border-radius: 50px;
      text-align: center;
      margin-bottom: 50px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      margin-left: auto;
      margin-right: auto;
      width:200px;
    }

    .features-header h2 {
      font-size: 1.8rem;
      margin: 0;
      color: #000000;
    }

    .features-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .feature-box {
      background-color: #F2FFEC;
      padding: 60px 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-weight: bold;
      transition: all 0.3s ease;
      width: 100%;
      box-sizing: border-box;
    }

    .box-5 {
      grid-column: 1 / span 2;
      max-width: 60%;
      justify-self: center;
    }

    @media (max-width: 800px) {
      .features-section {
        grid-template-columns: 1fr;
      }

      .box-5 {
        grid-column: auto;
        max-width: 100%;
        justify-self: stretch;
      }
    }

.cta{

}

.faq{

}

