<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Nearby Pharmacy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='look.css') }}" />
</head>
<body>
  <header>
    <h1><span>Nearby Pharmacy</span></h1>
    
    <!-- Search form -->
    <form id="search-form" method="get" action="{{ url_for('routes_bp.user_homepage') }}">
      <input 
        type="text" 
        id="search-bar" 
        name="q" 
        placeholder="🔍 Search for medicine" 
        class="search-bar" 
        value="{{ query | default('') }}" 
      />
      <button type="submit" style="display: none;"></button> 
    </form>
 
 

  </header>


  <div class="main">
    
    {% if medicines and medicines|length > 0 %}
      <div id="pharmacy-list">
        
        <div class="pharmacy-list">  
          {% for med in medicines %}
            <div class="medicine-card">
              <strong>{{ med.Medicinename }}</strong><br />
              <span><strong>Dosage:</strong> {{ med.Dosage }}</span><br />
              <span><strong>Price:</strong> ${{ med.price }}</span><br />
              <span><strong>Description:</strong> {{ med.medicinedescription }}</span><br />
              <span><strong>Pharmacy:</strong> {{ med.pharmacyname }}</span><br />
     <form id="search-form" method="get" action="{{ url_for('routes_bp.user_homepage') }}">
           <!-- <input type="text" id="search-bar" name="q" 
             placeholder="🔍 Search for medicine" class="search-bar" 
             value="{{ query | default('') }}" 
           /> -->
           <button type="submit" style="display: none;"></button> 
         </form>         <span><strong>Location:</strong> {{ med.location }}</span>

            </div>
          {% endfor %}
          </div>
      </div>
    {% elif query %}
    <div class="box">
            <div class="container">
              No reults found for"{{ query }}". Please try a different search.
      </div>
    </div>
    {% endif %}
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
