<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaLook pharmacy</title>
    <link rel="stylesheet" href="../static/pharmacy.css">


</head>
<body>
    
    <header class="header-bar">
    <nav>
  <div class="logo">
    <img src="../static/images/pharmalook_logo-removebg-preview.png" alt="PHARMALOOK Logo">
  </div>
</nav>
    
    
        <div class="search-bar"></div>
        <div class="profile-icon"></div>
    </header>

    <main class="main-container">
        <section class="form-section">
            <h2 class="section-btn">Add a Medicine to the Page </h2>
            <form>
                <label>Medicine Name</label>
                <input type="text" placeholder="Enter medicine name">

                <label>Price</label>
                <input type="text" placeholder="Enter price">

                <label>Dosage</label>
                <input type="text" placeholder="Enter dosage">

                <label>Medicine description</label>
                <input type="text" placeholder="Enter description">

                <button type="submit" class="add-btn">Add</button>
            </form>
        </section>

        <section class="remove-medicine">
            <h2>Remove Medicine</h2>
            <form>
                <input type="text" placeholder="Enter medicine name to remove">
                <button type="submit">Remove</button>
            </form>
        </section>
    </main>
</body>
</html>
