<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaLook pharmacy</title>
    <link rel="stylesheet" href="../static/pharmacy.css">
</head>
<body>
    
    <header class="header-bar">
    <nav>
        <div class="logo">
            <img src="../static/images/pharmalook_logo-removebg-preview.png" alt="PHARMALOOK Logo">
        </div>
    </nav>
    
    <div class="search-bar"></div>
    <div class="profile-icon"></div>
    </header>

    <main class="main-container">
        <section class="form-section">
            <h2 class="section-btn">Add a Medicine to the Page </h2>
            <form action="add-medicine" method="POST">

                <label>Medicine Name</label>
                <input type="text" name="Medicinename" placeholder="Enter medicine name" required>

                <label>Price</label>
                <input type="text" name="price" placeholder="Enter price" required>

                <label>Dosage</label>
                <input type="text" name="Dosage" placeholder="Enter dosage" required>

                <label>Medicine description</label>
                <input type="text" name="medicinedescription" placeholder="Enter description" required>

                <button type="submit" class="add-btn">Add</button>
            </form>
        </section>

        <!-- <section class="remove-medicine">
            <h2>Remove Medicine</h2>
            <form>
                <form action="/remove-medicine" method="POST">
                 <input type="text" name="medicine_name" placeholder="Enter medicine name to remove">

                
                <button type="submit">Remove</button>
            </form>
        </section> -->
        <section class="remove-medicine">
    <h2>Remove Medicine</h2>
    <form action="/remove-medicine" method="POST">
        <input type="text" name="medicine_name" placeholder="Enter medicine name to remove" required>
        <button type="submit">Remove</button>
    </form>
</section>


        

    </main>
</body>
</html>





{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
        <p class="flash {{ category }}">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
